*{
  width: 100%;
  margin: 0%;
  padding: 0%;
}

header {
  background-color: #161619;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-top: 0%;
}

header input {
  padding: 0.25rem;
  width: 20%;
  border-radius: 5px;
}

main {
  margin: auto;
  width: 80%;
  max-width: 600px;
}

.agregar-colaborador {
   margin-bottom: 3rem;

}
.agregar-colaborador form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.agregar-colaborador h3 {
  margin-bottom: 1rem;
}
.agregar-colaborador input {
   padding: 0.25rem;
   margin-bottom: 1rem;
}
